body {
    background-color: lightyellow;
    font-family: Arial, sans-serif;
}

.menu-box {
    width: 600px;
    margin: auto;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
}

h1 {
    text-align: center;
    color: red;
    text-decoration: underline;
}

h2 {
    color: darkblue;
    background-color: lightgray;
    padding: 5px;
}

p {
    text-align: center;
}

ul {
    list-style-type: square;
}

li {
    margin-bottom: 15px;
}

.footer {
    font-style: italic;
    font-size: 14px;
}
